<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTCC Signups</title>
</head>

<body
    style="background-color: #0a0a0a;display: flex;justify-content: center;align-items: center;height: 100vh;margin:0;color:white;font-family: Inter, Arial, Helvetica, sans-serif;">
    <div
        style="background-color: #111111;padding:20px;gap:10px;display: flex;flex-direction: column;align-items: center;min-width: 300px;">
        <!--<img src="/static/logo-white.png" width="100">-->
        <h1 style="font-weight:600;margin:0;font-size:4em;">Oops!</h1>
        <p style="font-weight:400;margin: 0;font-size:1.3em;">
            You might be lost. Try going back to
            <a href="https://dtcode.club" style="color: #cccccc;font-weight: bold;">our home page.</a>
        </p>
        <span style="font-size:0.75em">&copy; David Thompson Code Club</span>
    </div>
</body>

</html>